/* GENERAL */
:root {
	--color-bg-search-bar: #e5e5e5;
	--color-bg-body: #f8f9fa;
	--color-side-bar: #0f263d;
	--color-nav-bar: #1b72e8;
}

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}


/* CONTAINER */
.wrapper{
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 70px;
}
header div{
    width: 100%;
}
main{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}
#side-bar{
    width: 150px;
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: #0f263d;
}
#main-content{
    width: calc(100% - 150px);
    height: 100%;
    overflow-y: auto;
}


#main-nav{
    background-color:var(--color-nav-bar) ;
}
#side-bar ul li:hover{
    background-color: white;
    color: black;
}


/* HEADER */
#logo{
    width: 20%;
}
#mobile-logo{
    width: 80px;
}
#deck-logo{
    width: 100%;
}
#header-button{
    width: 20%;
}
#bell{
    color: #FF8F00;
}
#header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/* MAIN CONTENT */

    /* DASHBOARD */
    .avatar{
        width: 30px;
    }
    table tr td:first-child{
        width: 30%;
    }

    /* MAIN NAV */

    #main-nav h3 {
        margin-bottom: 0;
        display: inline-block;
    }

    .my-pill-colors{
        background-color: #165BBA;
    }

    .my-border-succes{
        border: #198753;
    }
    .my-border-warning{
        border: #ffc007;
    }

/* MEDIA QUERY */
@media screen and (max-width: 991px){
    #side-bar{
        width: 80px;
        height: 100%;
    }
    #main-content{
        width: calc(100% - 80px);
        height: 100%;
    }
    table tr td:first-child{
        width: 60%;
    }  
}
@media screen and (max-width: 768px){
    #main-nav .offcanvas{
        width: 100%;
    }
}
    
